<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseAddress" value="http://localhost:8000/StoreServices/" />
	</appSettings>

	<system.serviceModel>
		<services>
			<service
				name="StoreServices.EmailValidator">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/StoreServices/">
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="wsHttpBinding"
						  contract="StoreServices.IEmailValidator" />
				<endpoint address="/test"
						  binding="wsHttpBinding"
						  contract="StoreServices.IEmailValidator" />
				<endpoint address="http://localhost:8001/hello/servicemodelsamples"
						  binding="wsHttpBinding"
						  contract="StoreServices.IEmailValidator" />
				<endpoint address="net.tcp://localhost:9000/servicemodelsamples/service"
						  binding="netTcpBinding"
						  contract="StoreServices.IEmailValidator" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>
